* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #563A2E;
}

.all2 {
  align-items: center;
  display: block;
  width: 90vw;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.primeira_tela {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
}

nav {
  display: flex;
  justify-content: initial;
  align-items: center;
  width: 100%; 
}

nav img {
  object-fit: cover;
}

.menu a {
  text-decoration: none;
  color: #C28C5E;
  font-size: 18px;
  margin-left: 3vw;
  
}

.menu a:hover {
  border-bottom: 3px solid #C28C5E;
}

nav button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-left: auto;
}

.barra1 {
  width: 90vw;
  height: 0.5vh;
  border-top: 1vh solid #C28C5E;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px rgb(105, 105, 105);
}

.topo{
  margin-top: 15vh;
  margin-bottom: 5vh;
  width: 70vw;
  height: 60vh;
}

.topo h1 {
  margin-bottom: 7vh;
}
.topo h2 {
  margin-bottom: 12vh;
}

.botao_e_icone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
}

.botao_e_icone button {
  background-color: #25D366;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.botao_e_icone button img {
  margin-right: 10px;
}

.topo p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista_servicos ul {
  list-style-type: none;
  margin: 3vh;
  margin-bottom: 10vh;
  padding-left: 0;
  padding-top: 3vh;
  width: 65vw;
  background-color: #C28C5E;
  border-radius: 2vh;
  color: #ffffff;
  box-shadow: 0px 5px 10px rgb(105, 105, 105);
}

.lista_servicos li {
  display: flex;
  align-items: center;
  padding: 2vh 3vw;
  margin-bottom: 2vh; 
}

.lista_servicos li img {
  width: 5.5vw;
  height: 6.5vw; 
  margin-right: 1vw;
  margin-bottom: 5vh;
}

.lista_servicos li span {
  font-size: 3vw;
}

.lista_servicos li h2 {
  font-size: 2vw;
 
}

.lista_servicos li button {
  background-color: #25D366;
  color: white;
  margin-left: auto;
  padding: 2vh 2vw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
}


.depoimentos {
  justify-content: center;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr; /* Cria duas colunas com largura iguais */
  grid-gap: 1vw; /* Define um espaçamento entre as colunas */
  margin-bottom: 5vh;
  margin-top: 3vh;
  width: 60vw;
}

.coluna1 h2 {
font-size: 2vw ;
}

.coluna2 p{
  margin-top: 4vh;
  min-height: 15vh;
}

.coluna2 h3{
text-align: right;
margin-right: 2vw;
}

.coluna2 img {
  float: right;
  margin-right: 2vw;

}

.voltar_ao_topo a{
  text-decoration: none;
}

.voltar_ao_topo button{
  background-color: #dfdfdf;
  color: rgb(0, 0, 0);
  padding: 2vh 2vw;
  border-style: groove;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 3vw;
}

.topo_abas{
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-align: center;
} 

.topo_abas h1{
  margin-bottom: 5vh;
}

.equipe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.equipe_txt h2 {
  margin-top: 10vh;
  margin-bottom: 3vh;
}

.equipe_txt p {
  margin-left: 0vw;
}

.membros_equipe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 7vh;
}
.membro {
  width: 30%;
  margin-bottom: 30px;
  text-align: center;
}

.membro img {
  margin-bottom: 2vh;
}

.depoimentos_topo{
  text-align: left;
  width: 47vw;
  margin-top: 8vh;
}

.depoimentos_lista{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vh;
}

.depoimentos_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 27vw;
}

.depoimentos_item{
  width: 20vw;
  text-align: center;
  margin-top: 7vh;
  margin-bottom: 7vh;
  border: #563A2E dashed 2px;
  border-radius: 3vw;
  padding:  2vw 2vh 2vw 2vh;
}



.barra2 {
  width: 90vw;
  height: 0.9vh;
  border-bottom: 1vh solid #C28C5E;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -5px 10px rgba(105, 105, 105);
}

footer {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.logo_footer {
  object-fit: cover;
}


.f_infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  font-family: Verdana, sans-serif;
}

.f_infos b {
  font-size: 18px;
  
}

@media screen and (max-width: 700px) {
  #logo_main{
    width: 22vw;
  }

  .all {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: #563A2E;
    padding: 1vw 1vh 1vw 1vh;
  }

  .all2 {
    align-items: center;
    display: block;
    width: 96vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  }
 
  header {
    width: 90vw;
    align-items: center;
    margin-bottom: 1vh;
  }

  .barra1 {
    width: 96vw;
  }

  .menu a {
    text-decoration: none;
    color: #C28C5E;
    justify-content: space-around;
    font-size: 12px;
  }

  nav button {
    display: none;
  }

  .topo {
    margin-top: 5vh;
    width: 90vw;
    height: auto;
    margin-bottom: 3vh;
  }

  .topo h1 {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .topo h2 {
    font-size: 15px;
    margin-top: 3vh;
    margin-bottom: 5vh;
  }

  .botao_e_icone img{
    width: 5vw;
  }

  .botao_e_icone button {
    background-color: #25D366;
    color: white;
    padding: 1vh 3vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  #leg {
    font-size: 10px;
  }

  .lista_servicos ul {
    list-style-type: none;
    margin-bottom: 3vh;
    width: 90vw;
    background-color: #C28C5E;
    border-radius: 2vh;
    color: #ffffff;
    box-shadow: 0px 5px 10px rgb(105, 105, 105);
    padding-top: 0;
    margin-top: 0;
  }
  
  .lista_servicos li {
    display: flex;
    align-items: center;
    margin-bottom: 0; 
    padding: 1vh 2vw;
  }
  
  .lista_servicos li img {
    width: 45px;
    height: 60px; 
    margin-right: 2vw;
    margin-bottom: 0vh;
    padding-bottom: 1vh;
    
  }
  
  .lista_servicos li span {
    font-size: 13px;
  }
  
  .lista_servicos li h2 {
    font-size: 15px;
   
  }
  
  .lista_servicos li button {
    background-color: #25D366;
    color: white;
    margin-left: auto;
    padding: 1vh 1vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  
  .depoimentos {
    justify-content: center;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr; /* Cria duas colunas com largura iguais */
    grid-gap: 1vw; /* Define um espaçamento entre as colunas */
    margin-bottom: 3vh;
    margin-top: 2vh;
    width: 90vw;
  }
  
  .coluna1 h2 {
  font-size: 15px;
  }

  .coluna1 h3 {
    font-size: 13px;
  }
  
  .coluna2 p{
    font-size: 10px;
    margin-top: 5vh;
    min-height: 15vh;
  }
  
  .coluna2 h3{
  font-size: 13px;
  text-align: right;
  margin-right: 2vw;
  }
  
  .coluna2 img {
    width: 18vw;
    float: right;
    margin-right: 2vw;
  }

  .voltar_ao_topo button{
    background-color: #dfdfdf;
    color: rgb(0, 0, 0);
    padding: 1vh 1vw;
    border-style: groove;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 3vw;
  }

  .topo_abas{
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
    font-size: 9px;
  } 

  .topo_abas h1 {
    margin-bottom: 2vh;
  }

  .equipe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    margin-top: 1vh;
    margin-bottom: 3vh;
  }
  
  .equipe_txt h2 {
    margin-top: 0vh;
    margin-bottom: 1vh;
    font-size: 18px;
  }
  
  .equipe_txt p {
    margin-left: 0vw;
    font-size: 13px;
  }
  
  .membros_equipe {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2vh;
    width: 95vw;
  }
  .membro {
    width: 30%;
    margin-bottom: 2vh;
    text-align: center;
  }
  
  .membro h2 {
    font-size: 12px;
  }

  .membro img {
    margin-bottom: 1vh;
  }

  .depoimentos_topo{
    text-align: left;
    width: 80vw;
    margin-top: 5vh;
  }

  .depoimentos_topo h2 {
    font-size: 18px;
  }

  .depoimentos_topo h3 {
    font-size: 15px;
  }
  
  .depoimentos_lista{
    display: flex;
    justify-content: space-around;
    margin-bottom: -1vh;
    width: 95vw;
  }
  
  .depoimentos_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
  }
  
  .depoimentos_item{
    width: 43vw;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 3vh;
    border: #563A2E dashed 2px;
    border-radius: 3vw;
    padding:  2vw 2vh 2vw 2vh;
  }
  
  .depoimentos_icon img{
    height: 9vh;
  }

  .depoimentos_item img{
    width: 18vw;
  }

  .depoimentos_item h4{
    font-size: 14px;
  }

  .depoimentos_item p {
    font-size: 11px;
  }


  .barra2 {
    width: 96vw;
  }

  footer {
    width: 90vw;
    padding-top: 0.7vh;
  }

  .f_item {
    font-size: 6.5px;
  }

  .f_item_L {
    font-size: 6.5px;
    margin-left: 20px ;
  }

  .f_infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 10px;
    font-size: 7px;
    font-family: Verdana, sans-serif;
  }
  
  .f_infos b {
    font-size: 8px;
    
  }

  .f_item img {
    width: 6px;
    height: 6px;
    object-fit: cover;
  }
  
}