html {
  background-color: #563A2E;
  margin-inline-start: auto;
  margin-left: 5%;
  margin-right: 5%;
  color: #F2EDEC;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.primeira_tela {
  height: 90vh;
}

.segunda_tela {
  height: 90vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a:hover {
  border-bottom: 3px solid #C28C5E;
}

#botao_1 {
  width: 205px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 9px;
  background: #F2EDEC;
  cursor: pointer;
  font-size: 25px;

}

#ajuste_nav {
  display: flex;
  align-items: center;
  margin-left: -50%;
  color: #C28C5E;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#botao_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 20px;
  width: 260px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #F2EDEC;
}

section.block {
  width: 100%;
  height: 7%;
}



section .inner {
  display: block;
  position: relative;
  justify-content: space-between;
  
}

.cube {
  display: block;
  width: 31.1%;
  height: 50%;
  background: #C28C5E;
  float: left;
  margin: 1%;
  border-radius: 10px;

}

.cube img {
  text-align: center;
  width: 30%;
  margin: 3% 35%;
}

.cube img:hover {
  top: -10px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.cube h1 {
  text-align: center;
  font-family: 'Verdana';
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.cube p {
  text-align: center;
  font-family: 'Verdana';
  padding: 10px;
  color: #fff;
  margin-bottom: 10px;
}


/* . */

.carousel {
  width: 600px;  /* Define a largura do carrossel */
  overflow: hidden;  /* Oculta conteúdo que ultrapassa a largura definida */
  position: relative;  /* Define uma posição relativa para os elementos filhos */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  /* Adiciona uma sombra sutil ao carrossel */
  margin-left: 50vh;
}

/* Estilo para os itens do carrossel */
.carousel-item {
  width: 100%;  /* Ocupa 100% da largura do carrossel */
  height: auto;  /* Ajusta a altura automaticamente para manter a proporção da imagem */
  transition: opacity 0.5s ease-in-out;  /* Adiciona uma transição suave de opacidade */
  box-sizing: border-box;  /* Inclui a largura e a altura no modelo de caixa (box model) */
  display: none;  /* Inicialmente, os itens são ocultos */
}

/* Estilo para o item ativo do carrossel (o item que está sendo exibido) */
.carousel-item.active {
  display: block;  /* Exibe o item ativo */
}

/* Estilo para as imagens dentro dos itens do carrossel */
.carousel-item img {
  width: 100%;  /* Ocupa 100% da largura do contêiner */
  height: auto;  /* Ajusta a altura automaticamente para manter a proporção da imagem */
}

/* Estilo para os botões de navegação do carrossel */
.carousel-buttons {
  position: absolute;  /* Define uma posição absoluta para os botões de navegação */
  top: 50%;  /* Alinha os botões verticalmente no centro do carrossel */
  transform: translateY(-50%);  /* Ajusta a posição vertical para garantir o alinhamento central */
  width: 100%;  /* Ocupa 100% da largura do carrossel */
  display: flex;  /* Usa um modelo de layout flexível para os botões */
  justify-content: space-between;  /* Distribui uniformemente o espaço entre os botões */
  padding: 10px;  /* Adiciona algum espaço ao redor dos botões */
  box-sizing: border-box;  /* Inclui a largura e a altura no modelo de caixa (box model) */
}

/* Estilo para os botões de navegação Anterior e Próximo */
.prev-button,
.next-button {
  background-color: #C28C5E;  /* Cor de fundo inicial dos botões */
  color: white;  /* Cor do texto dos botões */
  border: none;  /* Remove a borda dos botões */
  padding: 12px 20px;  /* Adiciona preenchimento aos botões */
  text-align: center;  /* Centraliza o texto dentro dos botões */
  text-decoration: none;  /* Remove a decoração de texto padrão (sublinhado) */
  display: inline-block;  /* Torna os botões elementos de bloco em linha */
  font-size: 16px;  /* Tamanho da fonte dos botões */
  cursor: pointer;  /* Muda o cursor ao pairar sobre os botões */
  border-radius: 5px;  /* Adiciona bordas arredondadas aos botões */
  transition: background-color 0.3s;  /* Adiciona uma transição suave à cor de fundo dos botões */
}

/* Estilo para os botões de navegação Anterior e Próximo ao passar o mouse sobre eles */
.prev-button:hover,
.next-button:hover {
  background-color: #C28C5E;  /* Nova cor de fundo ao passar o mouse sobre os botões */
}

/* . */

.primeira_parte {
  color: aliceblue;
  

}

a {
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.f_logo {
  margin-left: 10vh;
  margin-bottom: 3vh;
  
}

.f_infos {
  margin-right: 6vh;
  text-align: center;
  margin-top: -10vh;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.f_infos b {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, monospace;
  font-size: 2.5vh;
}

.footer_items {
  justify-content: right;
  font-size: 10px;
}

.f_item {
  display: flex;
  justify-content: left;
  align-items: center;
}

.f_item img {
  padding-right: 1vh;
}

.f_item i {
  padding-right: 1vh;
  padding-left: 1vh;
  font-size: x-small;
}



